<a href="https://colab.research.google.com/github/sarang-manohar/hogwarts/blob/main/Sarang_Manohar_Data_mining_project_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, GridSearchCV

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

from sklearn.preprocessing import StandardScaler

from sklearn.metrics import roc_auc_score, roc_curve, classification_report, confusion_matrix

import warnings
warnings.filterwarnings('ignore')

In [ ]:
raw_data = pd.read_csv(r'insurance_part2_data.csv')
raw_data.head()

   Age Agency_Code           Type  ...  Sales       Product Name Destination
0   48         C2B       Airlines  ...   2.51    Customised Plan        ASIA
1   36         EPX  Travel Agency  ...  20.00    Customised Plan        ASIA
2   39         CWT  Travel Agency  ...   9.90    Customised Plan    Americas
3   36         EPX  Travel Agency  ...  26.00  Cancellation Plan        ASIA
4   33         JZI       Airlines  ...  18.00        Bronze Plan        ASIA

[5 rows x 10 columns]

In [ ]:
raw_data.isnull().sum()

Age             0
Agency_Code     0
Type            0
Claimed         0
Commision       0
Channel         0
Duration        0
Sales           0
Product Name    0
Destination     0
dtype: int64

In [ ]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           3000 non-null   int64
 1   Agency_Code   3000 non-null   object
 2   Type          3000 non-null   object
 3   Claimed       3000 non-null   object
 4   Commision     3000 non-null   float64
 5   Channel       3000 non-null   object
 6   Duration      3000 non-null   int64
 7   Sales         3000 non-null   float64
 8   Product Name  3000 non-null   object
 9   Destination   3000 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 234.5+ KB

In [ ]:
raw_data.columns

Index(['Age', 'Agency_Code', 'Type', 'Claimed', 'Commision', 'Channel',
       'Duration', 'Sales', 'Product Name', 'Destination'],
      dtype='object')

In [ ]:
for x in ['Age', 'Agency_Code', 'Type', 'Claimed', 'Commision', 'Channel','Duration', 'Sales', 'Product Name', 'Destination']:
    print(x.upper())
    print(raw_data[x].value_counts())
    print('\n')

AGE
36    999
31    125
48    108
30     96
35     94
     ...
11      1
84      1
15      1
77      1
8       1
Name: Age, Length: 70, dtype: int64


AGENCY_CODE
EPX    1365
C2B     924
CWT     472
JZI     239
Name: Agency_Code, dtype: int64


TYPE
Travel Agency    1837
Airlines         1163
Name: Type, dtype: int64


CLAIMED
No     2076
Yes     924
Name: Claimed, dtype: int64


COMMISION
0.00     1366
63.21      62
54.00      61
23.76      61
7.70       57
         ...
67.75       1
17.29       1
18.13       1
49.40       1
0.18        1
Name: Commision, Length: 324, dtype: int64


CHANNEL
Online     2954
Offline      46
Name: Channel, dtype: int64


DURATION
 8       83
 5       82
 6       81
 10      81
 11      81
         ..
 466      1
 421      1
-1        1
 119      1
 4580     1
Name: Duration, Length: 257, dtype: int64


SALES
20.00     225
10.00     163
22.00      79
252.85     60
216.00     59
         ...
199.00      1
177.00      1
171.00      1
206.60      1
271.00      1
Name: Sales, Length: 380, dtype: int64


PRODUCT NAME
Customised Plan      1136
Cancellation Plan     678
Bronze Plan           650
Silver Plan           427
Gold Plan             109
Name: Product Name, dtype: int64


DESTINATION
ASIA        2465
Americas     320
EUROPE       215
Name: Destination, dtype: int64

In [ ]:
raw_data[raw_data.Claimed=='Yes'].duplicated().sum()

10