<a href="https://colab.research.google.com/github/sarang-manohar/hogwarts/blob/main/academia/predictiveModeling/code/Linear_Regression_Cars_MPG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [115]:
!git clone 'https://github.com/sarang-manohar/hogwarts.git'

fatal: destination path 'hogwarts' already exists and is not an empty directory.

In [116]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline
plt.style.use('seaborn')

import seaborn as sns

from sklearn.linear_model import LinearRegression

import warnings
warnings.filterwarnings('ignore')

In [117]:
rd = pd.read_csv(r'/content/hogwarts/academia/predictiveModeling/data/car-mpg.csv')
rd.head(50)

     mpg  cyl   disp   hp  ...  yr  origin  car_type                      car_name
0   18.0    8  307.0  130  ...  70       1         0     chevrolet chevelle malibu
1   15.0    8  350.0  165  ...  70       1         0             buick skylark 320
2   18.0    8  318.0  150  ...  70       1         0            plymouth satellite
3   16.0    8  304.0  150  ...  70       1         0                 amc rebel sst
4   17.0    8  302.0  140  ...  70       1         0                   ford torino
5   15.0    8  429.0  198  ...  70       1         0              ford galaxie 500
6   14.0    8  454.0  220  ...  70       1         0              chevrolet impala
7   14.0    8  440.0  215  ...  70       1         0             plymouth fury iii
8   14.0    8  455.0  225  ...  70       1         0              pontiac catalina
9   15.0    8  390.0  190  ...  70       1         0            amc ambassador dpl
10  15.0    8  383.0  170  ...  70       1         0           dodge challenger se
11  14.0    8  340.0  160  ...  70       1         0            plymouth 'cuda 340
12  15.0    8  400.0  150  ...  70       1         0         chevrolet monte carlo
13  14.0    8  455.0  225  ...  70       1         0       buick estate wagon (sw)
14  24.0    4  113.0   95  ...  70       3         1         toyota corona mark ii
15  22.0    6  198.0   95  ...  70       1         0               plymouth duster
16  18.0    6  199.0   97  ...  70       1         0                    amc hornet
17  21.0    6  200.0   85  ...  70       1         0                 ford maverick
18  27.0    4   97.0   88  ...  70       3         1                  datsun pl510
19  26.0    4   97.0   46  ...  70       2         1  volkswagen 1131 deluxe sedan
20  25.0    4  110.0   87  ...  70       2         1                   peugeot 504
21  24.0    4  107.0   90  ...  70       2         1                   audi 100 ls
22  25.0    4  104.0   95  ...  70       2         1                      saab 99e
23  26.0    4  121.0  113  ...  70       2         1                      bmw 2002
24  21.0    6  199.0   90  ...  70       1         0                   amc gremlin
25  10.0    8  360.0  215  ...  70       1         0                     ford f250
26  10.0    8  307.0  200  ...  70       1         0                     chevy c20
27  11.0    8  318.0  210  ...  70       1         0                    dodge d200
28   9.0    8  304.0  193  ...  70       1         0                      hi 1200d
29  27.0    4   97.0   88  ...  71       3         1                  datsun pl510
30  28.0    4  140.0   90  ...  71       1         1           chevrolet vega 2300
31  25.0    4  113.0   95  ...  71       3         1                 toyota corona
32  25.0    4   98.0    ?  ...  71       1         1                    ford pinto
33  19.0    6  232.0  100  ...  71       1         0                   amc gremlin
34  16.0    6  225.0  105  ...  71       1         0     plymouth satellite custom
35  17.0    6  250.0  100  ...  71       1         0     chevrolet chevelle malibu
36  19.0    6  250.0   88  ...  71       1         0               ford torino 500
37  18.0    6  232.0  100  ...  71       1         0                   amc matador
38  14.0    8  350.0  165  ...  71       1         0              chevrolet impala
39  14.0    8  400.0  175  ...  71       1         0     pontiac catalina brougham
40  14.0    8  351.0  153  ...  71       1         0              ford galaxie 500
41  14.0    8  318.0  150  ...  71       1         0             plymouth fury iii
42  12.0    8  383.0  180  ...  71       1         0             dodge monaco (sw)
43  13.0    8  400.0  170  ...  71       1         0      ford country squire (sw)
44  13.0    8  400.0  175  ...  71       1         0           pontiac safari (sw)
45  18.0    6  258.0  110  ...  71       1         0    amc hornet sportabout (sw)
46  22.0    4  140.0   72  ...  71       1         1           chevrolet vega (sw)
47  19.0    6  250.0  100  ...  71       1         0              pontiac firebird
48  18.0    6  250.0   88  ...  71       1         0                  ford mustang
49  23.0    4  122.0   86  ...  71       1         1            mercury capri 2000

[50 rows x 10 columns]

In [118]:
rd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   mpg       398 non-null    float64
 1   cyl       398 non-null    int64
 2   disp      398 non-null    float64
 3   hp        398 non-null    object
 4   wt        398 non-null    int64
 5   acc       398 non-null    float64
 6   yr        398 non-null    int64
 7   origin    398 non-null    int64
 8   car_type  398 non-null    int64
 9   car_name  398 non-null    object
dtypes: float64(3), int64(5), object(2)
memory usage: 31.2+ KB

In [119]:
rd.describe().T

          count         mean         std  ...     50%       75%     max
mpg       398.0    23.514573    7.815984  ...    23.0    29.000    46.6
cyl       398.0     5.454774    1.701004  ...     4.0     8.000     8.0
disp      398.0   193.425879  104.269838  ...   148.5   262.000   455.0
wt        398.0  2970.424623  846.841774  ...  2803.5  3608.000  5140.0
acc       398.0    15.568090    2.757689  ...    15.5    17.175    24.8
yr        398.0    76.010050    3.697627  ...    76.0    79.000    82.0
origin    398.0     1.572864    0.802055  ...     1.0     2.000     3.0
car_type  398.0     0.530151    0.499718  ...     1.0     1.000     1.0

[8 rows x 8 columns]

In [120]:
dups = rd.duplicated()
display(rd[dups])

Empty DataFrame
Columns: [mpg, cyl, disp, hp, wt, acc, yr, origin, car_type, car_name]
Index: []

In [121]:
temp = rd['hp'].str.isdigit()
rd[temp == False]

      mpg  cyl   disp hp  ...  yr  origin  car_type              car_name
32   25.0    4   98.0  ?  ...  71       1         1            ford pinto
126  21.0    6  200.0  ?  ...  74       1         0         ford maverick
330  40.9    4   85.0  ?  ...  80       2         1  renault lecar deluxe
336  23.6    4  140.0  ?  ...  80       1         1    ford mustang cobra
354  34.5    4  100.0  ?  ...  81       2         1           renault 18i
374  23.0    4  151.0  ?  ...  82       1         1        amc concord dl

[6 rows x 10 columns]

In [122]:
rd['hp'] = rd['hp'].replace('?',np.nan).astype(float)

In [123]:
rd.groupby(by='cyl').median()

       mpg   disp     hp      wt   acc    yr  origin  car_type
cyl
3    20.25   70.0   98.5  2375.0  13.5  75.0     3.0       1.0
4    28.25  105.0   78.0  2232.0  16.2  78.0     2.0       1.0
5    25.40  131.0   77.0  2950.0  19.9  79.0     2.0       1.0
6    19.00  228.0  100.0  3201.5  16.1  76.0     1.0       0.0
8    14.00  350.0  150.0  4140.0  13.0  73.0     1.0       0.0

In [124]:
rd[temp == False]

      mpg  cyl   disp  hp  ...  yr  origin  car_type              car_name
32   25.0    4   98.0 NaN  ...  71       1         1            ford pinto
126  21.0    6  200.0 NaN  ...  74       1         0         ford maverick
330  40.9    4   85.0 NaN  ...  80       2         1  renault lecar deluxe
336  23.6    4  140.0 NaN  ...  80       1         1    ford mustang cobra
354  34.5    4  100.0 NaN  ...  81       2         1           renault 18i
374  23.0    4  151.0 NaN  ...  82       1         1        amc concord dl

[6 rows x 10 columns]

In [126]:
rd['hp'] = rd.where(rd['cyl'] == 4).fillna(78)

In [ ]:
rd['hp'] = rd['hp'].where(rd['cyl'] = 6).fillna(100)

In [127]:
rd

      mpg  cyl   disp  hp  ...  yr  origin  car_type                   car_name
0    18.0    8  307.0  78  ...  70       1         0  chevrolet chevelle malibu
1    15.0    8  350.0  78  ...  70       1         0          buick skylark 320
2    18.0    8  318.0  78  ...  70       1         0         plymouth satellite
3    16.0    8  304.0  78  ...  70       1         0              amc rebel sst
4    17.0    8  302.0  78  ...  70       1         0                ford torino
..    ...  ...    ...  ..  ...  ..     ...       ...                        ...
393  27.0    4  140.0  27  ...  82       1         1            ford mustang gl
394  44.0    4   97.0  44  ...  82       2         1                  vw pickup
395  32.0    4  135.0  32  ...  82       1         1              dodge rampage
396  28.0    4  120.0  28  ...  82       1         1                ford ranger
397  31.0    4  119.0  31  ...  82       1         1                 chevy s-10

[398 rows x 10 columns]