In [15]:
# import data
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
data = pd.read_csv('df_scaled.csv') # read data 
pd.set_option('display.max_columns', None) # display all columns

import warnings
warnings.filterwarnings('ignore')

data.head() # check the first 5 rows

,Unnamed: 0,years_of_insurance_with_us,regular_checkup_lasy_year,adventure_sports,visited_doctor_last_1_year,daily_avg_steps,age,heart_decs_history,other_major_decs_history,avg_glucose_level,bmi,Year_last_admitted,weight,weight_change_in_last_one_year,fat_percentage,cholesterol_level_num,smoking_status_num,Alcohol_num,exercise_num,covered_by_any_other_company_num,Location_num,Occupation_num,Gender_num
0,0,-0.417807,0.188690,3.352150,-0.967205,-0.332228,-1.050360,4.159520,-0.329915,-1.124370,0.002231,-1.044971,-0.494422,-0.898041,-0.441634,1.002742,0.645340,-0.371085,-0.008326,-0.659770,-1.606299,-1.629610,-0.722737
1,1,-1.568750,-0.645043,-0.298316,0.784661,1.134787,0.315492,-0.240412,-0.329915,0.708929,0.422682,-1.044971,-1.459569,0.285180,-0.209944,0.210186,-0.692096,-0.371085,-0.008326,-0.659770,-1.375512,-0.280997,-0.722737
2,2,-1.185102,-0.645043,-0.298316,0.784661,-0.671209,1.433007,-0.240412,-0.329915,-0.024391,1.291613,-1.044971,0.149010,-1.489652,0.369282,-1.374926,-0.692096,-1.961268,1.545002,-0.659770,-1.375512,1.067616,1.383630
3,3,1.116783,2.689890,-0.298316,-0.967205,0.947731,0.377576,-0.240412,-0.329915,-0.933069,-1.161015,-1.044971,-0.065467,0.285180,0.948508,-0.582370,0.645340,-0.371085,-1.561654,1.515679,-1.606299,1.067616,1.383630
4,4,-0.417807,0.188690,-0.298316,-0.967205,-0.263863,-0.057013,-0.240412,3.031081,-0.789594,-0.656474,0.948426,0.256249,-1.489652,0.600972,0.210186,0.645340,1.219098,1.545002,-0.659770,-1.144724,-0.280997,-0.722737

In [16]:
data.drop(['Unnamed: 0'], axis=1, inplace=True) # drop the first column
data.head() # check the first 5 rows

,years_of_insurance_with_us,regular_checkup_lasy_year,adventure_sports,visited_doctor_last_1_year,daily_avg_steps,age,heart_decs_history,other_major_decs_history,avg_glucose_level,bmi,Year_last_admitted,weight,weight_change_in_last_one_year,fat_percentage,cholesterol_level_num,smoking_status_num,Alcohol_num,exercise_num,covered_by_any_other_company_num,Location_num,Occupation_num,Gender_num
0,-0.417807,0.188690,3.352150,-0.967205,-0.332228,-1.050360,4.159520,-0.329915,-1.124370,0.002231,-1.044971,-0.494422,-0.898041,-0.441634,1.002742,0.645340,-0.371085,-0.008326,-0.659770,-1.606299,-1.629610,-0.722737
1,-1.568750,-0.645043,-0.298316,0.784661,1.134787,0.315492,-0.240412,-0.329915,0.708929,0.422682,-1.044971,-1.459569,0.285180,-0.209944,0.210186,-0.692096,-0.371085,-0.008326,-0.659770,-1.375512,-0.280997,-0.722737
2,-1.185102,-0.645043,-0.298316,0.784661,-0.671209,1.433007,-0.240412,-0.329915,-0.024391,1.291613,-1.044971,0.149010,-1.489652,0.369282,-1.374926,-0.692096,-1.961268,1.545002,-0.659770,-1.375512,1.067616,1.383630
3,1.116783,2.689890,-0.298316,-0.967205,0.947731,0.377576,-0.240412,-0.329915,-0.933069,-1.161015,-1.044971,-0.065467,0.285180,0.948508,-0.582370,0.645340,-0.371085,-1.561654,1.515679,-1.606299,1.067616,1.383630
4,-0.417807,0.188690,-0.298316,-0.967205,-0.263863,-0.057013,-0.240412,3.031081,-0.789594,-0.656474,0.948426,0.256249,-1.489652,0.600972,0.210186,0.645340,1.219098,1.545002,-0.659770,-1.144724,-0.280997,-0.722737

In [17]:
raw_data = pd.read_csv('Data.csv') # read data

In [19]:
# split data into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, raw_data.iloc[:, -1], test_size=0.3, random_state=0)

### Linear regression

In [23]:
#Linear Regression
from sklearn.linear_model import LinearRegression

lnrReg = LinearRegression()
lnrReg.fit(X_train, y_train)  # fit the model
print(lnrReg.score(X_train, y_train))  # score the model on train data
print(lnrReg.score(X_test, y_test))  # score the model on test data

0.9442256419134095
0.946592580740324

In [24]:
col_1 = list()
col_2 = list()

for idx, col_name in enumerate(X_train.columns):
    col_1.append(col_name)
    col_2.append(lnrReg.coef_[idx])

df_coef = pd.DataFrame.from_dict({'feature':col_1,'coef':col_2})

df_coef

                             feature          coef
0         years_of_insurance_with_us   -188.255559
1          regular_checkup_lasy_year   -442.509845
2                   adventure_sports     68.530642
3         visited_doctor_last_1_year    -63.167067
4                    daily_avg_steps    -35.171035
5                                age     20.131624
6                 heart_decs_history     65.149460
7           other_major_decs_history     15.639504
8                  avg_glucose_level    -17.346770
9                                bmi    -32.962804
10                Year_last_admitted    322.434013
11                            weight  13840.243369
12    weight_change_in_last_one_year    268.697832
13                    fat_percentage      2.791468
14             cholesterol_level_num    -33.223856
15                smoking_status_num     10.497654
16                       Alcohol_num     18.067788
17                      exercise_num    -40.072505
18  covered_by_any_other_company_num    530.249384
19                      Location_num    -12.515493
20                    Occupation_num    -41.311037
21                        Gender_num     -2.206014

In [26]:
import statsmodels.regression.linear_model as lm
x_train = sm.add_constant(X_train)

NameError: name 'sm' is not defined